.wrapper {
    width: 20rem;
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 100%;
    margin-bottom: 1rem;
}

.wrapper img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
