.button {
    background-color: var(--text);
    border: 2px solid var(--text);
    color: var(--bg);
    font-weight: 700;
    cursor: pointer;
    transition: all 0.5s ease;
    padding: 0.5rem;
}

.button:active {
    background-color: var(--bg);
    color: var(--text);
}

.button:disabled {
    cursor: wait;
}

@media (hover) {
    .button:hover {
        background-color: var(--bg);
        color: var(--text);
    }
}
