.footer {
    border-top: 2px solid var(--bg);
    width: 100%;
    padding: 2.5rem 2rem 4rem 2rem;
    display: flex;
    max-width: 800px;
    align-items: center;
    justify-content: space-between;
    color: var(--bg);
}

.icons {
    display: flex;
    gap: 1rem;
}

.icons svg {
    width: 1.5rem;
}
