.form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: stretch;
}

.legend {
    font-family: Tomasa, fantasy;
    font-size: 1.5rem;
    padding: 0 0.5rem;
}

.field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    padding: 0.75rem 0 0.5rem 0;
    margin-top: 0.25rem;
    border-top: 2px solid var(--text);
    text-align: left;
}

.field .label {
    font-weight: 700;
}

.radio {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    padding: 1rem;
    border: 2px solid var(--text);
}

.radio-field {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}

.info {
    padding: 1rem 0 1.5rem 0;
    text-align: left;
}

/* Respuesta de envío */
.respuesta {
    font-size: 1.75rem;
    font-weight: 700;
    padding: 2rem 0;
    color: var(--text);
}

/* Estilo de los inputs */
.input {
    box-shadow: none;
    outline: none;
    border: 1px solid var(--text);
    background-color: var(--bg);
    color: var(--text);
    width: 100%;
    padding: 0.5rem;
    text-align: left;
}

.input::placeholder {
    color: var(--text);
}

.input[type='radio'] {
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--bg);
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 100%;
}

.input[type='radio']:checked {
    transform: scale(1);
    outline: max(2px, 0.15em) solid currentColor;
    outline-offset: max(2px, 0.15em);
    background-color: black;
}

.input[type='submit'] {
    text-align: center;
    padding: 0.5rem;
    background-color: var(--text);
    border: 2px solid var(--text);
    color: var(--bg);
    font-weight: 700;
    cursor: pointer;
    transition: all 0.5s ease;
}

.input[type='submit']:active {
    background-color: var(--bg);
    color: var(--text);
}

.input[type='submit']:disabled {
    cursor: wait;
}

@media (hover) {
    .input[type='submit']:hover {
        background-color: var(--bg);
        color: var(--text);
    }
}
