:root {
    --bg: yellow;
    --text: black;
}

* {
    box-sizing: border-box;
    text-align: center;
    font-family: 'Comic Neue', sans-serif;
    font-size: 1rem;
    line-height: 1.25rem;
}

html,
body {
    color: var(--text);
    background-color: var(--bg);
    font-family: 'Comic Neue', sans-serif;
}

body {
    width: 100vw;
    min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Tomasa;
}
h1 {
    font-size: 3.5rem;
    line-height: 3.75rem;
}
h2 {
    font-size: 3rem;
    line-height: 3.25rem;
}
h3 {
    font-size: 2.5rem;
    line-height: 2.75rem;
}
h4 {
    font-size: 2rem;
    line-height: 2.25rem;
}
h5 {
    font-size: 1.5rem;
    line-height: 1.75rem;
}
h6 {
    font-size: 1rem;
    line-height: 1.25rem;
}

em {
    font-style: italic;
}

strong {
    font-weight: 700;
}

a {
    color: var(--text);
    text-decoration: underline;
}

@media (hover) {
    a:hover {
        font-weight: 700;
    }
}
