:root {
    --bg: yellow;
    --text: black;
}

* {
    box-sizing: border-box;
    text-align: center;
    font-family: 'Comic Neue', sans-serif;
    font-size: 1rem;
    line-height: 1.25rem;
}

html,
body {
    color: var(--text);
    background-color: var(--bg);
    background: linear-gradient(
        90deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 255, 0, 1) 20%,
        rgba(0, 255, 0, 1) 40%,
        rgba(0, 255, 255, 1) 60%,
        rgba(0, 0, 255, 1) 80%,
        rgba(255, 0, 255, 1) 100%
    );
    font-family: 'Comic Neue', sans-serif;
}

body {
    width: 100vw;
    min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Tomasa;
    overflow-x: scroll;
}
h1 {
    font-size: 3rem;
    line-height: 3.75rem;
}
h2 {
    font-size: 2.75rem;
    line-height: 3.25rem;
}
h3 {
    font-size: 2.25rem;
    line-height: 2.75rem;
}
h4 {
    font-size: 2rem;
    line-height: 2.25rem;
}
h5 {
    font-size: 1.5rem;
    line-height: 1.75rem;
}
h6 {
    font-size: 1rem;
    line-height: 1.25rem;
}

em {
    font-style: italic;
}

strong {
    font-weight: 700;
}

a {
    color: var(--text);
    text-decoration: underline;
}

ul {
    text-align: left;
    list-style-type: disc;
}

ol {
    text-align: left;
    list-style-type: decimal;
}

code {
    font-family: 'Courier New', Courier, monospace;
    color: var(--text);
    text-align: left;
}

.code-block {
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    padding: 2rem;
    align-items: stretch;
}

@media (hover) {
    a:hover {
        font-weight: 700;
    }
}
