:root {
    --bg: white;
    --text: black;
    --bg-dark: black;
    --text-dark: white;
}

* {
    box-sizing: border-box;
    text-align: center;
    font-family: 'Comic Neue', sans-serif;
}

html,
body {
    color: var(--text);
    background-color: var(--bg);
    font-family: 'Comic Neue', sans-serif;
}

body {
    width: 100vw;
    min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Tomasa;
}
h1 {
    font-size: 3.5rem;
}
h2 {
    font-size: 3rem;
}
h3 {
    font-size: 2.5rem;
}
h4 {
    font-size: 2rem;
}
h5 {
    font-size: 1.5rem;
}
h6 {
    font-size: 1rem;
}

em {
    font-style: italic;
}

strong {
    font-weight: 700;
}

a {
    color: var(--text);
    text-decoration: underline;
}

@media (hover) {
    a:hover {
        font-weight: 700;
    }
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }

    body {
        color: var(--text-dark);
        background-color: var(--bg-dark);
    }

    a {
        color: var(--text-dark);
    }
}
