.highlight * {
    width: 100%;
}

.highlight {
    background-color: black;
    color: var(--bg);
    font-size: 1.25rem;
    line-height: 150%;
    padding: 2rem;
    opacity: 1;
    animation: aparecer 2s ease;
    gap: 2rem;
    box-shadow: 1rem 1rem;
}

.left * {
    text-align: left;
}

.highlight li {
    list-style-position: outside;
    margin-left: 1.25rem;
    padding: 0 1.25rem 0 1rem;
}

.highlight h1,
.highlight h2,
.highlight h3,
.highlight h4,
.highlight h5,
.highlight h6,
.highlight a {
    color: cyan;
}

.highlight p {
    padding-top: 1.5rem;
    border-top: 1px solid cyan;
}

.highlight ul {
    list-style: disc;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    text-align: left;
}

.highlight li span {
    font-weight: bold;
}

.precios {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border: 2px solid var(--bg);
}

.precios * {
    text-align: left;
}

.precios h4 {
    padding-top: 1rem;
    border-top: 1px solid var(--bg);
}

@keyframes aparecer {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media screen and (max-width: 800px) {
    .highlight {
        font-size: 1rem;
    }
}
