.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
    padding: 2rem;
}

.menu {
    display: flex;
    gap: 2rem;
    padding: 0 1rem;
}

.menu img {
    animation: rotar 15s infinite linear;
}

.pages,
.modals {
    display: flex;
    gap: 0.5rem;
}

.pages {
    padding: 0.5rem;
}

.nav * {
    color: var(--bg);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav button {
    width: 100px;
    color: var(--bg);
    background-color: var(--text);
    border-color: var(--text);
}

.nav a {
    width: 100px;
    min-height: 40px;
    color: var(--text);
    font-weight: 700;
    padding: 0.5rem;
    background-color: white;
    border: 2px solid white;
    transition: all 0.5s ease;
}

.menu-button {
    cursor: pointer;
    color: var(--text);
    transition: all 0.5s ease;
}

.menu-active {
    box-shadow: 3px 3px;
}

.hide {
    display: none;
    opacity: 0%;
}

@media (hover) {
    .nav button:hover {
        color: var(--text);
        background-color: var(--bg);
    }

    .menu-button:hover {
        color: var(--bg);
    }
}

@keyframes aparecer {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes desaparecer {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes rotar {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 800px) {
    .nav {
        flex-direction: column;
    }

    .nav a {
        border-color: var(--text);
        background-color: var(--bg);
    }

    .menu {
        flex-direction: column;
        gap: 1rem;
    }

    .menu a {
        width: 100%;
    }

    .menu img {
        margin-top: 2rem;
        width: 200px;
        height: 200px;
    }

    .pages {
        background-color: var(--bg);
        width: 90%;
        max-width: 400px;
        border: 2px solid var(--bg);
        flex-direction: column;
        gap: 1rem;
        position: fixed;
        top: 330px;
        padding: 2rem;
        animation: aparecer 1s ease;
        z-index: 1000;
    }
}
