.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--text);
    opacity: 0.5;
}

.modal {
    color: var(--text);
    background-color: var(--bg);
    position: absolute;
    top: 50px;
    width: 340px;
    padding: 1rem 1rem 1.5rem 1rem;
    left: calc(50% - 170px);
    right: auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 20px;
}
