.table-wrapper {
    width: 100%;
    padding: 2rem;
    background-color: var(--text);
    box-shadow: 1rem 1rem var(--bg);
}

.table {
    width: 100%;
    color: var(--bg);
}

.table * {
    text-align: left;
    padding: 0.75rem;
    border: 0.1rem var(--bg) solid;
}

.header * {
    background-color: var(--pink);
    color: var(--text);

    font-weight: 900;
}

.hora {
    font-weight: 700;
    background-color: cyan;
    color: var(--text);
}

.presencial {
    border-left: 0.1rem var(--bg) solid;
}
