.sub-nav {
    padding-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.sub-nav a {
    color: var(--bg);
    text-decoration: none;
    padding: 1rem;
    font-size: 1.25rem;
    font-weight: 700;
    background-color: var(--text);
    border: 2px solid var(--text);
    transition: all 0.5s ease;
}

@media (hover) {
    .sub-nav a:hover {
        background-color: var(--bg);
        color: var(--text);
    }
}

@media screen and (max-width: 800px) {
    .sub-nav {
        flex-direction: column;
    }
}
