.sub-nav {
    padding-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.sub-nav a {
    color: var(--bg);
    width: 7.25rem;
    height: 7.25rem;
    border-radius: 100%;
    text-decoration: none;
    padding: 1rem;
    font-size: 1.25rem;
    font-weight: 700;
    background-color: var(--text);
    border: 2px solid var(--text);
    transition: all 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0rem 0.25rem;
}

.sub-nav a:active {
    box-shadow: 0rem 0rem;
}

@media (hover) {
    .sub-nav a:hover {
        background-color: var(--bg);
        color: var(--text);
    }
}

@media screen and (max-width: 800px) {
    .sub-nav a {
        font-size: 1rem;
    }
}
